# Some characteristics of the dataset underlying this project

The goal of this notebook is to print some characteristics of the data that are included in the introduction of the paper

### Load the relevant data

Note that not all Birkenau survivors could be included included; some of them could not be included because there were problems with them during the data processing

In [1]:
import constants
import pandas as pd
import os
from IPython.display import display
import json
path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory = parent + '/'+constants.output_data_segment_keyword_matrix
segment_df = pd.read_csv(input_directory + constants.output_segment_keyword_matrix_document_index)
int_codes = segment_df['IntCode'].to_list()
with open(parent+'/'+constants.output_data_segment_keyword_matrix + "metadata_partitions.json") as read_file:
        metadata_partitions = json.load(read_file)
input_folder = parent+'/'+constants.input_data
input_file = constants.input_files_biodata_birkenau
df_biodata = pd.read_csv(input_folder+input_file)
df_biodata = df_biodata[df_biodata.IntCode.isin(int_codes)]

In [2]:
assert len(metadata_partitions['complete']) == len(df_biodata[df_biodata.IntCode.isin(int_codes)])

### Total number of interviews included

In [3]:
print (len(metadata_partitions['complete']))

6628

### Total number of women survivors

In [4]:
print (len(metadata_partitions['complete_w']))

4595

### Total number of men survivors

In [5]:
print (len(metadata_partitions['complete_m']))

2033

### Number of different birthplaces

In [6]:
nationalities = [element for element in metadata_partitions.keys() if (element[0].isupper()) and (element[-2] !="_")]
len(nationalities)

13

Majority of victims were born in 5 countries, here we will focus on those who were born in these five countries; the number of victims is not enough with other countries

In [7]:
countries = []
for country in nationalities:
    countries.append({'country':country,'total':len(metadata_partitions[country]),'women':len(metadata_partitions[country+'_w']),'men':len(metadata_partitions[country+'_m'])})
    
countries = pd.DataFrame(countries)

In [8]:
countries.sort_values('total',ascending=False)

                         country  total  women  men
2    Czechoslovakia (historical)   1817   1317  500
9                         Poland   1404    849  555
6                        Hungary   1030    832  198
10                       Romania    948    690  258
1   Austria-Hungary (historical)    478    358  120
11                        Russia    199     81  118
4                        Germany    147     82   65
5                         Greece    129     68   61
12       Yugoslavia (historical)    100     84   16
8                    Netherlands     90     53   37
3                         France     86     59   27
0                        Austria     62     42   20
7                          Italy     53     29   24

In [9]:
countries.sort_values('total',ascending=False)[0:5].total.sum()

5677

In [10]:
countries.sort_values('total',ascending=False)[5:].total.sum()

866

In [11]:
countries.sort_values('total',ascending=False)[0:5].country

2      Czechoslovakia (historical)
9                           Poland
6                          Hungary
10                         Romania
1     Austria-Hungary (historical)
Name: country, dtype: object

### Number of different countries where interviews were recorded

In [12]:
df_biodata.InterviewCountry.unique().shape[0]

43

In [13]:
interview_countries = df_biodata.groupby('InterviewCountry')['IntCode'].unique().to_frame().reset_index()

In [14]:
interview_countries['count']= interview_countries.IntCode.apply(lambda x: len(x))

In [15]:
interview_countries.sort_values('count',ascending=False)

,InterviewCountry,IntCode,count
36,U.S.A.,"[2, 3, 7, 8, 16, 21, 33, 39, 47, 61, 64, 65, 6...",2536
19,Israel,"[3651, 4712, 4722, 5099, 5709, 5770, 5780, 591...",1666
7,Canada,"[160, 246, 285, 364, 368, 430, 434, 466, 474, ...",662
1,Australia,"[1089, 1095, 1101, 1103, 1275, 1302, 1323, 133...",314
18,Hungary,"[48475, 48476, 48478, 48480, 48982, 49010, 490...",192
15,France,"[2610, 2613, 2961, 2981, 3152, 3320, 3325, 333...",184
12,Czech Republic,"[6809, 7552, 7573, 7634, 7636, 7943, 7959, 803...",152
5,Brazil,"[14524, 16683, 16807, 16869, 17096, 17309, 177...",86
30,Slovakia,"[12463, 14031, 14043, 14764, 14874, 15765, 164...",84
23,Netherlands,"[3440, 3496, 4195, 4201, 4213, 4261, 4435, 444...",77
16,Germany,"[6466, 8108, 8207, 8663, 8910, 9320, 9384, 950...",67
0,Argentina,"[9563, 10530, 13140, 13145, 13546, 13558, 1384...",62
17,Greece,"[7799, 12135, 17393, 18781, 35270, 37299, 3730...",60
38,United Kingdom,"[4710, 5791, 6966, 7093, 7296, 7951, 8622, 926...",59
28,Romania,"[41579, 47669, 47683, 47778, 47863, 49496, 494...",47
20,Italy,"[34396, 34434, 36179, 38354, 38355, 38356, 387...",44
34,Sweden,"[7779, 12934, 17957, 22008, 22351, 24762, 2540...",41
40,Venezuela,"[8930, 10212, 11966, 12355, 12645, 13906, 1394...",32
26,Poland,"[621, 627, 631, 633, 635, 636, 637, 647, 653, ...",31
41,Yugoslavia,"[43040, 45663, 45872, 46019, 46026, 46053, 460...",31
37,Ukraine,"[30793, 31757, 32455, 33180, 33188, 35084, 358...",30
2,Austria,"[21078, 22636, 23236, 24732, 24773, 25934, 263...",26
4,Belgium,"[9337, 16167, 22365, 26345, 27024, 27654, 2911...",25
39,Uruguay,"[9526, 11806, 11903, 16456, 16487, 16794, 1699...",20
32,South Africa,"[4488, 5054, 5970, 6032, 6712, 6730, 7897, 793...",18
35,Switzerland,"[4352, 4356, 18921, 19105, 21870, 22554, 26775...",17
8,Chile,"[21800, 21826, 21828, 21843, 21877, 21883, 218...",16
11,Croatia,"[4303, 4305, 4321, 4773, 5219, 8888, 15818, 16...",11
22,Mexico,"[13141, 13148, 14666, 15098, 16267, 18958, 229...",9
29,Russia,"[2323, 8494, 20062, 21403, 36547]",5
14,Ecuador,"[14096, 14280, 14657]",3
24,New Zealand,"[38036, 38330, 38809]",3
3,Belarus,"[29484, 30334, 30974]",3
31,Slovenia,"[16005, 16019, 44427]",3
21,Lithuania,"[4699, 37302]",2
13,Denmark,"[27066, 31974]",2
10,Costa Rica,"[20099, 22787]",2
33,Spain,[47502],1
27,Poland and Sweden,[29635],1
25,Norway,[42840],1
9,Colombia,[6634],1
6,Bulgaria,[24404],1
42,Zimbabwe,[34151],1

### Number of different interview languages

In [16]:
df_biodata.InterviewLanguage.unique().shape[0]

40

In [17]:
interview_languages = df_biodata.groupby('InterviewLanguage')['IntCode'].unique().to_frame().reset_index()

In [18]:
interview_languages['count']= interview_languages.IntCode.apply(lambda x: len(x))

In [19]:
interview_languages.sort_values('count',ascending=False)

,InterviewLanguage,IntCode,count
5,English,"[2, 3, 7, 8, 16, 21, 33, 39, 47, 61, 64, 65, 6...",3472
18,Hebrew,"[604, 621, 627, 631, 633, 2176, 3651, 4712, 47...",1490
20,Hungarian,"[77, 109, 279, 351, 538, 600, 675, 699, 701, 7...",444
13,French,"[2610, 2613, 2961, 2981, 3152, 3320, 3325, 333...",206
2,Czech,"[829, 6809, 7552, 7573, 7634, 7636, 7943, 7959...",152
36,Spanish,"[2202, 5208, 6634, 8672, 8930, 9526, 9563, 102...",150
14,German,"[4352, 4356, 6466, 8108, 8207, 8663, 8910, 932...",104
27,Portuguese,"[14524, 16683, 16807, 16869, 17096, 17309, 177...",84
4,Dutch,"[3440, 3496, 4195, 4201, 4213, 4261, 4435, 444...",81
30,Russian,"[254, 2323, 4699, 7689, 8494, 10145, 10368, 10...",66
17,Greek,"[1436, 7799, 12135, 17393, 18781, 35270, 37299...",59
22,Italian,"[34396, 34434, 34470, 36179, 38354, 38355, 383...",45
34,Slovak,"[11364, 12928, 14031, 14874, 15765, 17541, 177...",43
25,Polish,"[635, 647, 670, 702, 3732, 5472, 7896, 9014, 9...",40
39,Yiddish,"[1227, 1566, 1613, 3448, 4230, 5881, 10647, 13...",40
29,Romanian,"[2607, 10347, 14531, 17688, 17735, 18109, 4157...",35
33,Serbian,"[20237, 20996, 21510, 23169, 43040, 44427, 456...",35
37,Swedish,"[7779, 12934, 17957, 22008, 24762, 28328, 2832...",22
1,Croatian,"[4303, 4305, 4321, 4773, 5219, 8888, 15818, 16...",11
38,Ukrainian,"[8238, 13248, 21711, 41159, 42901, 44453, 45199]",7
11,English and Yiddish,"[11496, 24217, 34097, 40775, 44065, 45022, 55579]",7
23,Ladino,"[7897, 7933, 13688, 18282, 20446, 43683, 45043]",7
9,English and Hungarian,"[2214, 11608, 12532, 52198]",4
26,Polish and Swedish,"[25405, 25897, 29635]",3
15,German and Hungarian,"[637, 13984]",2
35,Slovenian,"[16005, 16019]",2
31,Russian and Ukrainian,"[31757, 35322]",2
8,English and Hebrew,"[15187, 49052]",2
16,German and Yiddish,"[28922, 35272]",2
28,Portuguese and Spanish,[42118],1
7,English and German,[19936],1
24,Norwegian,[42840],1
32,Russian and Yiddish,[26859],1
10,English and Sign,[46848],1
6,English and French,[54772],1
21,Hungarian and Swedish,[26295],1
3,Danish,[27066],1
19,Hebrew and Yiddish,[35914],1
12,Flemish,[16167],1
0,Bulgarian,[24404],1

### Total length of the dataset

In [20]:
df_biodata.length_in_minutes.sum()/60

2442.6

### Average time an interviewer speaks

In [21]:
df_biodata.length_in_minutes.mean()

22.11164755582378

### Average time a man speaks

In [22]:
df_biodata[df_biodata.Gender=="M"].length_in_minutes.mean()

20.087555336940483

### Average time a woman speaks

In [23]:
df_biodata[df_biodata.Gender=="F"].length_in_minutes.mean()

23.007181719260064

### Chronological extremes

In [24]:
df_biodata.sort_values('InterviewDate')['InterviewDate']

6647             0
6574    1981-08-06
6575    1981-10-22
6576    1981-10-22
6577    1981-10-25
           ...
6819    2017-03-02
6820    2018-12-13
6821    2019-01-18
6827    2019-06-07
6828    2019-09-19
Name: InterviewDate, Length: 6628, dtype: object

In [25]:
df_biodata['dates'] = pd.to_datetime(df_biodata.InterviewDate,format="%Y-%m-%d",errors="coerce")

In [26]:
df_biodata['dates'].describe(datetime_is_numeric=True)

count                             6627
mean     1996-12-20 05:10:30.692621184
min                1981-08-06 00:00:00
25%                1995-12-27 00:00:00
50%                1996-10-28 00:00:00
75%                1997-11-23 00:00:00
max                2019-09-19 00:00:00
Name: dates, dtype: object

In [27]:
df_biodata[df_biodata['dates']>'1995-12-27'].shape

(4967, 35)