# Topics of Sociability and Solidarity in Recollections of men and women of different nationalities



 ### Research Question:

In Birkenau people of different nationalities were together; is it possible that women of one nationality give rise to the general trend that women are more likely to discuss memories of sociability and solidarity? Can we observe this phenomenon when men and women of the same nationalitities are compared?

### Further considerations:

- Nationality is somewhat intangible in the context of the data; hence, by nationality we mean the country of birth

- In dataset, 13 different nationalities are present;

In [1]:
import constants
import pandas as pd
import os
from IPython.display import display
import json

In [2]:

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
with open(parent+'/'+constants.output_data_segment_keyword_matrix + "metadata_partitions.json") as read_file:
        metadata_partitions = json.load(read_file)
nationalities = [element for element in metadata_partitions.keys() if (element[0].isupper()) and (element[-2] !="_")]
len(nationalities)

13

- But majority of victims were born in 5 countries, here we will focus on those who were born in these five countries; the number of victims is not enough with other countries

In [3]:
countries = []
for country in nationalities:
    countries.append({'country':country,'total':len(metadata_partitions[country]),'women':len(metadata_partitions[country+'_w']),'men':len(metadata_partitions[country+'_m'])})
    
countries = pd.DataFrame(countries)

In [4]:
countries.sort_values('total',ascending=False)

                         country  total  women  men
2    Czechoslovakia (historical)   1817   1317  500
9                         Poland   1404    849  555
6                        Hungary   1030    832  198
10                       Romania    948    690  258
1   Austria-Hungary (historical)    478    358  120
11                        Russia    199     81  118
4                        Germany    147     82   65
5                         Greece    129     68   61
12       Yugoslavia (historical)    100     84   16
8                    Netherlands     90     53   37
3                         France     86     59   27
0                        Austria     62     42   20
7                          Italy     53     29   24

In [5]:
countries.sort_values('total',ascending=False)[0:5].total.sum()

5677

In [6]:
countries.sort_values('total',ascending=False)[5:].total.sum()

866

In [7]:
countries.sort_values('total',ascending=False)[0:5].country

2      Czechoslovakia (historical)
9                           Poland
6                          Hungary
10                         Romania
1     Austria-Hungary (historical)
Name: country, dtype: object

In [8]:
countries_to_study = countries.sort_values('total',ascending=False).country.to_list()

## Load the relevant data

In [9]:
input_directory = constants.output_data_markov_modelling

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory = parent +'/'+ constants.output_data_markov_modelling
input_directory_fisher = parent +'/'+ constants.output_data_report_statistical_analysis
input_file_fisher = 'strength_of_association_odds_ratio'

In [10]:
data_sets_1 = {}
for country in countries_to_study:
    data_sets_1[country+'_w']= pd.read_csv(input_directory+country+'_w'+'/'+'stationary_probs.csv')
    data_sets_1[country+'_m']= pd.read_csv(input_directory+country+'_m'+'/'+'stationary_probs.csv')
    match ='strength_of_association_odds_ratio_Czechoslovakia (historical)_w_Czechoslovakia (historical)_m.csv'
    fisher_input_file_name = input_directory_fisher+input_file_fisher+'_'+country+'_w_'+country+'_m.csv'
    data_sets_1[country+'_fisher']= pd.read_csv(fisher_input_file_name)

## Observation 1

## Qualitative description

When comparing man and women of the same nationalities, we can see that women are either more likely to remember about social life in Birkenau or the difference between men and women is insignificant.

## Quantitative proof

In [11]:
topic_word = "social relations"
for country in countries_to_study:
    try:
        print ('\n')
        print (country)

        men = data_sets_1[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_1[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w)
        print ("Probability of men talking about "+topic_word)
        print(topic_m)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ("Man to woman ratio")
        print (topic_m/topic_w)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_1[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        pass

Czechoslovakia (historical)
Probability of women talking about social relations
0.013996883228215429
Probability of men talking about social relations
0.011489593190402068
Women to man ratio
1.2182226991211358
Man to woman ratio
0.8208679748960773
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
36,660,social relations,0.005392,1.558637,0.641586,220,57,False,True

Poland
Probability of women talking about social relations
0.012415181110621159
Probability of men talking about social relations
0.012646334944623291
Women to man ratio
0.9817216739067622
Man to woman ratio
1.018618643734837
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
282,660,social relations,0.456524,1.141957,0.87569,110,64,False,False

Hungary
Probability of women talking about social relations
0.011776310484746585
Probability of men talking about social relations
0.008662454144909279
Women to man ratio
1.3594658381732672
Man to woman ratio
0.7355830296873909
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
192,660,social relations,0.320803,1.293181,0.773287,131,25,False,False

Romania
Probability of women talking about social relations
0.015551357299989032
Probability of men talking about social relations
0.011225185412384679
Women to man ratio
1.3853987019966114
Man to woman ratio
0.721813871024145
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
334,660,social relations,0.843399,0.958549,1.043243,111,43,False,False

Austria-Hungary (historical)
Probability of women talking about social relations
0.012401637350998078
Probability of men talking about social relations
0.01229148284952425
Women to man ratio
1.0089618561749114
Man to woman ratio
0.9911177453140926
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
158,660,social relations,0.321441,0.719485,1.389882,38,17,False,False

Russia
Probability of women talking about social relations
0.01288090788065952
Probability of men talking about social relations
0.013007174352222005
Women to man ratio
0.990292551776173
Man to woman ratio
1.0098026065190693
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
115,660,social relations,0.472576,1.521127,0.657407,10,10,False,False

Germany
Probability of women talking about social relations
0.011967706660493559
Probability of men talking about social relations
0.002061562236042166
Women to man ratio
5.805163895255199
Man to woman ratio
0.172260425035948
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
71,660,social relations,0.387706,1.880137,0.531876,9,4,False,False

Greece
Probability of women talking about social relations
0.009449999078103032
Probability of men talking about social relations
0.011391323828737636
Women to man ratio
0.8295786530326618
Man to woman ratio
1.2054312105842344
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
98,660,social relations,0.400165,0.664773,1.504274,13,16,False,False

Yugoslavia (historical)
Probability of women talking about social relations
0.015847412551267547
Probability of men talking about social relations
0.009355064171538705
Women to man ratio
1.6939929283949522
Man to woman ratio
0.5903212364336691
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
212,660,social relations,1.0,1.019608,0.980769,16,3,False,False

Netherlands
Probability of women talking about social relations
0.028174032182249887
Probability of men talking about social relations
0.021892866748407274
Women to man ratio
1.2869046573948373
Man to woman ratio
0.7770583424760957
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
239,660,social relations,1.0,1.060976,0.942529,12,8,False,False

France
Probability of women talking about social relations
0.010747800336578977
Probability of men talking about social relations
0.007015709544335696
Women to man ratio
1.5319619874024681
Man to woman ratio
0.6527577108460497
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
75,660,social relations,0.370941,2.042553,0.489583,12,3,False,False

Austria


Italy
Probability of women talking about social relations
0.015848007067477132
Probability of men talking about social relations
0.017990537206496522
Women to man ratio
0.8809079398559757
Man to woman ratio
1.1351924017888808
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
160,660,social relations,0.77202,1.278195,0.782353,10,7,False,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Poland_w_Poland_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Hungary_w_Hungary_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Romania_w_Romania_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Russia_w_Russia_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Greece_w_Greece_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/France_w_France_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Austria_w_Austria_m/social%20relations.png)

![title](output/markov_modelling/bootstrap/Italy_w_Italy_m/social%20relations.png)

## Observation 2

## Qualitative description

Just as above, women are either more likely to discuss aid giving or the difference between men and women is insignificant. There is no country in case of which men would outperform women with regards to aid giving; women of various nationalities generally tend to outperform men.

## Quantitative proof

In [12]:
topic_word = "aid giving"
for country in countries_to_study:
    print (country)
    print ('\n')
    men = data_sets_1[country+'_m']
    topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
    women = data_sets_1[country+'_w']
    topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
    print ("Probability of women talking about "+topic_word)
    print(topic_w*1000)
    print ("Probability of men talking about "+topic_word)
    print(topic_m*1000)
    print ("Women to man ratio")
    print (topic_w/topic_m)
    print ('Result of Fisher test and odds ratio analysis:')
    df = data_sets_1[country+'_fisher']
    display(df[df.topic_word==topic_word])

Czechoslovakia (historical)


Probability of women talking about aid giving
14.391480672502144
Probability of men talking about aid giving
14.00699037192508
Women to man ratio
1.0274498868327715
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
37,156,aid giving,0.005883,1.408201,0.710126,365,107,False,True

Poland


Probability of women talking about aid giving
18.558223651259116
Probability of men talking about aid giving
13.944505241997428
Women to man ratio
1.3308628258366815
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
47,156,aid giving,0.018463,1.364597,0.732817,225,116,False,True

Hungary


Probability of women talking about aid giving
11.278943907685132
Probability of men talking about aid giving
11.112738496663864
Women to man ratio
1.0149562964224492
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
272,156,aid giving,0.502614,1.149579,0.869883,183,39,False,False

Romania


Probability of women talking about aid giving
15.060833210364363
Probability of men talking about aid giving
9.081913969435458
Women to man ratio
1.6583325124032815
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
60,156,aid giving,0.062034,1.40872,0.709864,181,52,False,False

Austria-Hungary (historical)


Probability of women talking about aid giving
14.1676917111486
Probability of men talking about aid giving
20.424529365653413
Women to man ratio
0.6936606203995807
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
206,156,aid giving,0.448587,0.822064,1.21645,77,30,False,False

Russia


Probability of women talking about aid giving
16.66149689686234
Probability of men talking about aid giving
16.790620774111858
Women to man ratio
0.992309761563515
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
165,156,aid giving,0.603855,1.200269,0.833147,19,24,False,False

Germany


Probability of women talking about aid giving
14.253041015008494
Probability of men talking about aid giving
12.73722649286546
Women to man ratio
1.1190066395531313
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
186,156,aid giving,0.664023,1.333333,0.75,16,10,False,False

Greece


Probability of women talking about aid giving
16.699187189415525
Probability of men talking about aid giving
18.094053418465382
Women to man ratio
0.9229102403540842
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
92,156,aid giving,0.364811,1.435,0.696864,28,20,False,False

Yugoslavia (historical)


Probability of women talking about aid giving
16.629264556747298
Probability of men talking about aid giving
19.010154570755446
Women to man ratio
0.874756935555336
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
22,156,aid giving,0.226876,2.8,0.357143,24,2,False,False

Netherlands


Probability of women talking about aid giving
5.502657421868602
Probability of men talking about aid giving
4.000926585448416
Women to man ratio
1.3753457616248352
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
106,156,aid giving,0.514779,2.014815,0.496324,8,3,False,False

France


Probability of women talking about aid giving
16.940586095063985
Probability of men talking about aid giving
25.667141708288373
Women to man ratio
0.6600106193200924
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
28,156,aid giving,0.24863,1.806452,0.553571,28,9,False,False

Austria


Probability of women talking about aid giving
23.193161304226397
Probability of men talking about aid giving
18.560472749510854
Women to man ratio
1.2495997067120843
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
85,156,aid giving,0.35255,0.506494,1.974359,9,7,False,False

Italy


Probability of women talking about aid giving
13.695893236751024
Probability of men talking about aid giving
11.145314924227225
Women to man ratio
1.2288475767498912
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
15,156,aid giving,0.097999,2.833333,0.352941,17,8,False,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Poland_w_Poland_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Hungary_w_Hungary_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Romania_w_Romania_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Russia_w_Russia_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Greece_w_Greece_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/France_w_France_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Austria_w_Austria_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Italy_w_Italy_m/aid%20giving.png)

## Observation 3

## Qualitative description

In case of friendship, women of various nationalities tend to outperform men or the difference is insignificant in case of some nationalities. In some cases men do not even mention friendship (Germany, France). We do not find women of any nationality not mentioning friendship.

## Quantitative proof

In [13]:
topic_word = "friends"
for country in countries_to_study:
    print ('\n')
    print (country)
    try:
        
        men = data_sets_1[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_1[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w*1000)
        print ("Probability of men talking about "+topic_word)
        print(topic_m*1000)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("In case of this country, the probability of hearing a man talking about this topic is 0.")
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_1[country+'_fisher']
        display(df[df.topic_word==topic_word])
        pass

Czechoslovakia (historical)
Probability of women talking about friends
3.0833463421826717
Probability of men talking about friends
2.589122460265068
Women to man ratio
1.190884706885207
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
199,385,friends,0.29959,1.35617,0.737371,60,17,False,False

Poland
Probability of women talking about friends
4.496473728844375
Probability of men talking about friends
2.897720139223084
Women to man ratio
1.5517280871885502
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
102,385,friends,0.116218,1.578947,0.633333,45,19,False,False

Hungary
Probability of women talking about friends
5.083220701882879
Probability of men talking about friends
3.0537140044926674
Women to man ratio
1.6646027409260893
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
331,385,friends,0.75418,1.161499,0.860957,58,12,False,False

Romania
Probability of women talking about friends
4.287618419385021
Probability of men talking about friends
1.1517493873224647
Women to man ratio
3.7227008467117
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
21,385,friends,0.009268,2.930233,0.34127,45,6,False,True

Austria-Hungary (historical)
Probability of women talking about friends
3.174253410706311
Probability of men talking about friends
2.6949861452054638
Women to man ratio
1.1778366342823288
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
275,385,friends,0.784171,0.866667,1.153846,13,5,False,False

Russia
Probability of women talking about friends
3.828519002440972
Probability of men talking about friends
0.04586550743725393
Women to man ratio
83.4727274669
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
6,385,friends,0.041882,7.697368,0.129915,5,1,False,True

Germany
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
0,385,friends,0.002442,inf,0.0,10,0,False,True

Greece
Probability of women talking about friends
1.7110985457382613
Probability of men talking about friends
1.4112130729624093
Women to man ratio
1.2125019095425005
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
643,385,friends,1.0,1.361538,0.734463,3,2,False,False

Yugoslavia (historical)
Probability of women talking about friends
6.0896442860656785
Probability of men talking about friends
14.39578403135943
Women to man ratio
0.42301581301859936
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
146,385,friends,1.0,0.949367,1.053333,5,1,False,False

Netherlands
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
621,385,friends,1.0,inf,0.0,1,0,False,False

France
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
3,385,friends,0.05185,inf,0.0,9,0,False,False

Austria
Probability of women talking about friends
8.743236943980879
Probability of men talking about friends
9.737725700060459
Women to man ratio
0.8978725847583277
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
616,385,friends,1.0,1.461538,0.684211,3,1,False,False

Italy
Probability of women talking about friends
8.126114033484523
Probability of men talking about friends
1.2723367719389145
Women to man ratio
6.386763483304137
Result of Fisher test and odds ratio analysis:
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
40,385,friends,0.204393,4.791667,0.208696,5,1,False,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/friends.png)

![title](output/markov_modelling/bootstrap/Poland_w_Poland_m/friends.png)

![title](output/markov_modelling/bootstrap/Hungary_w_Hungary_m/friends.png)

![title](output/markov_modelling/bootstrap/Romania_w_Romania_m/friends.png)

![title](output/markov_modelling/bootstrap/Russia_w_Russia_m/friends.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/friends.png)

![title](output/markov_modelling/bootstrap/Greece_w_Greece_m/friends.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/friends.png)

![title](output/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/friends.png)

![title](output/markov_modelling/bootstrap/France_w_France_m/friends.png)

![title](output/markov_modelling/bootstrap/Austria_w_Austria_m/friends.png)

![title](output/markov_modelling/bootstrap/Italy_w_Italy_m/friends.png)

## Observation 4

## Qualitative description

In terms of the probability of addressing food sharing, women outperform men or the difference between them is insignificant.

## Quantitative proof

In [14]:
topic_word = "food sharing"
for country in countries_to_study:
    print ('\n')
    print (country)
    try:
        
        men = data_sets_1[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_1[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w*1000)
        print ("Probability of men talking about "+topic_word)
        print(topic_m*1000)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_1[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("In case of this country, the probability of hearing a man talking about this topic is 0.")
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_1[country+'_fisher']
        display(df[df.topic_word==topic_word])
        pass

Czechoslovakia (historical)
Probability of women talking about food sharing
3.7506077975566092
Probability of men talking about food sharing
2.3705583661350538
Women to man ratio
1.5821621821830867
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
34,353,food sharing,0.004992,2.146829,0.465803,82,15,False,True

Poland
Probability of women talking about food sharing
4.755650128035729
Probability of men talking about food sharing
3.645458590555238
Women to man ratio
1.3045409815809752
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
210,353,food sharing,0.365508,1.25947,0.793985,57,30,False,False

Hungary
Probability of women talking about food sharing
2.529614042602176
Probability of men talking about food sharing
3.8625888290286814
Women to man ratio
0.6549011956932247
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
316,353,food sharing,0.685378,0.84,1.190476,32,9,False,False

Romania
Probability of women talking about food sharing
3.593042564381399
Probability of men talking about food sharing
3.206215175262833
Women to man ratio
1.1206492290670589
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
214,353,food sharing,0.405055,1.445399,0.691851,38,10,False,False

Austria-Hungary (historical)
Probability of women talking about food sharing
2.8856221816361787
Probability of men talking about food sharing
2.4770410075359606
Women to man ratio
1.164947278974059
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
239,353,food sharing,0.580167,1.587209,0.630037,14,3,False,False

Russia
Probability of women talking about food sharing
4.885951303021737
Probability of men talking about food sharing
3.761365307407614
Women to man ratio
1.2989834551298085
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
112,353,food sharing,0.445719,1.991342,0.502174,4,3,False,False

Germany
Probability of women talking about food sharing
1.2947617376504068
Probability of men talking about food sharing
1.6038665697563277
Women to man ratio
0.8072752198127787
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
67,353,food sharing,0.383417,3.282051,0.304688,4,1,False,False

Greece
Probability of women talking about food sharing
3.276053440336617
Probability of men talking about food sharing
2.311918959360048
Women to man ratio
1.4170278015469222
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
585,353,food sharing,1.0,0.885246,1.12963,7,7,False,False

Yugoslavia (historical)
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
637,353,food sharing,1.0,inf,0.0,4,0,False,False

Netherlands
Probability of women talking about food sharing
3.8462344318687327
Probability of men talking about food sharing
0.6363573184347858
Women to man ratio
6.044142685950576
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
114,353,food sharing,0.64083,2.16,0.462963,3,1,False,False

France
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
37,353,food sharing,0.303854,inf,0.0,4,0,False,False

Austria
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
635,353,food sharing,1.0,NaN,NaN,0,0,False,False

Italy
Probability of women talking about food sharing
4.217282018859303
Probability of men talking about food sharing
2.762633385570848
Women to man ratio
1.5265442171538366
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
108,353,food sharing,0.487455,1.826087,0.547619,6,3,False,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Poland_w_Poland_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Hungary_w_Hungary_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Romania_w_Romania_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Russia_w_Russia_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Greece_w_Greece_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/France_w_France_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Austria_w_Austria_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Italy_w_Italy_m/food%20sharing.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/departure.png)

### Interpretation

Generally, when women and men of the same nationality are compared, women tend to discuss social bonds and solidarity more than men.