# Topics of Sociability and Solidarity in Recollections of men and women of different nationalities



 ### Research Question:

In Birkenau people of different nationalities were together; is it possible that women of one nationality give rise to the general trend that women are more likely to discuss memories of sociability and solidarity? Can we observe this phenomenon when men and women of the same nationalitities are compared?

### Further considerations:

- Nationality is somewhat intangible in the context of the data; hence, by nationality we mean the country of birth

- In dataset, 13 different nationalities are present;

In [1]:
import constants
import pandas as pd
import os
from IPython.display import display
import json

In [2]:

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
with open(parent+'/'+constants.input_directory + "metadata_partitions.json") as read_file:
        metadata_partitions = json.load(read_file)
nationalities = [element for element in metadata_partitions.keys() if (element[0].isupper()) and (element[-2] !="_")]
len(nationalities)

13

- But majority of victims were born in 5 countries, here we will focus on those who were born in these five countries; the number of victims is not enough with other countries

In [3]:
countries = []
for country in nationalities:
    countries.append({'country':country,'total':len(metadata_partitions[country]),'women':len(metadata_partitions[country+'_w']),'men':len(metadata_partitions[country+'_m'])})
    
countries = pd.DataFrame(countries)

In [4]:
countries.sort_values('total',ascending=False)

                         country  total  women  men
2    Czechoslovakia (historical)   1817   1317  500
9                         Poland   1404    849  555
6                        Hungary   1030    832  198
10                       Romania    948    690  258
1   Austria-Hungary (historical)    478    358  120
11                        Russia    199     81  118
4                        Germany    147     82   65
5                         Greece    129     68   61
12       Yugoslavia (historical)    100     84   16
8                    Netherlands     90     53   37
3                         France     86     59   27
0                        Austria     62     42   20
7                          Italy     53     29   24

In [5]:
countries.sort_values('total',ascending=False)[0:5].total.sum()

5677

In [6]:
countries.sort_values('total',ascending=False)[5:].total.sum()

866

In [7]:
countries.sort_values('total',ascending=False)[0:5].country

2      Czechoslovakia (historical)
9                           Poland
6                          Hungary
10                         Romania
1     Austria-Hungary (historical)
Name: country, dtype: object

In [8]:
countries_to_study = countries.sort_values('total',ascending=False).country.to_list()

## Load the relevant data

In [9]:
input_directory = constants.output_data_markov_modelling

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory = parent +'/'+ constants.output_data_markov_modelling
input_directory_fisher = parent +'/'+ constants.output_data_report_statistical_analysis
input_file_fisher = 'strength_of_association_odds_ratio'

In [10]:
data_sets_1 = {}
for country in countries_to_study:
    data_sets_1[country+'_w']= pd.read_csv(input_directory+country+'_w'+'/'+'stationary_probs.csv')
    data_sets_1[country+'_m']= pd.read_csv(input_directory+country+'_m'+'/'+'stationary_probs.csv')
    match ='strength_of_association_odds_ratio_Czechoslovakia (historical)_w_Czechoslovakia (historical)_m.csv'
    fisher_input_file_name = input_directory_fisher+input_file_fisher+'_'+country+'_w_'+country+'_m.csv'
    data_sets_1[country+'_fisher']= pd.read_csv(fisher_input_file_name)

In [19]:
input_directory

'/Users/gabortoth/Dropbox/Documentary_Fondos/Nyitott_Fondok/Workspace/vha_auschwitz_report/data/output/markov_modelling/'

## Observation 1

## Qualitative description

When comparing man and women of the same nationalities, we can see that women are either more likely to remember about social life in Birkenau or the difference between men and women is insignificant.

## Quantitative proof

In [11]:
topic_word = "social bonds"
for country in countries_to_study:
    try:
        print ('\n')
        print (country)

        men = data_sets_1[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_1[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w)
        print ("Probability of men talking about "+topic_word)
        print(topic_m)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ("Man to woman ratio")
        print (topic_m/topic_w)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_1[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        pass

Czechoslovakia (historical)
Probability of women talking about social bonds
0.0181180789764706
Probability of men talking about social bonds
0.0151968502320006
Women to man ratio
1.1922259349716204
Man to woman ratio
0.8387671922468319
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance
13,89,social bonds,0.00345,1.5328,0.652401,263,70,True

Poland
Probability of women talking about social bonds
0.0197376855248692
Probability of men talking about social bonds
0.017466501096715
Women to man ratio
1.1300308754213717
Man to woman ratio
0.8849315728892052
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance
33,89,social bonds,0.149723,1.263752,0.791295,140,75,False

Hungary
Probability of women talking about social bonds
0.0176379623308897
Probability of men talking about social bonds
0.0116986188600417
Women to man ratio
1.5076961256627204
Man to woman ratio
0.6632636265218508
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance
40,89,social bonds,0.196021,1.322304,0.756256,169,32,False

Romania
Probability of women talking about social bonds
0.0186187217071838
Probability of men talking about social bonds
0.0133188388598979
Women to man ratio
1.3979237907324997
Man to woman ratio
0.7153465779962217
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance
45,89,social bonds,0.361234,1.204833,0.829991,143,46,False

Austria-Hungary (historical)
Probability of women talking about social bonds
0.0133632633198564
Probability of men talking about social bonds
0.0120563178319586
Women to man ratio
1.1084033704248721
Man to woman ratio
0.9021986279387447
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance
47,89,social bonds,0.442039,0.783738,1.275936,46,19,False

Russia
Probability of women talking about social bonds
0.0149196301639434
Probability of men talking about social bonds
0.0116688942240482
Women to man ratio
1.2785813186305024
Man to woman ratio
0.7821168551649942
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance
6,89,social bonds,0.07661,2.256716,0.443122,14,10,False

Germany
Probability of women talking about social bonds
0.0287745858260351
Probability of men talking about social bonds
0.0019396388583694
Women to man ratio
14.835022355772502
Man to woman ratio
0.06740805480558558
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance
3,89,social bonds,0.027591,3.69697,0.270492,16,4,True

Greece
Probability of women talking about social bonds
0.0121116413222249
Probability of men talking about social bonds
0.0136833403123719
Women to man ratio
0.8851377694139541
Man to woman ratio
1.1297676300290471
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance
26,89,social bonds,0.307961,0.619342,1.614618,14,18,False

Yugoslavia (historical)
Probability of women talking about social bonds
0.0213720798434555
Probability of men talking about social bonds
0.0297282726024247
Women to man ratio
0.718914285040307
Man to woman ratio
1.3909864093797129
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance
59,89,social bonds,1.0,1.266667,0.789474,19,3,False

Netherlands
Probability of women talking about social bonds
0.0366174655572725
Probability of men talking about social bonds
0.0177240541182657
Women to man ratio
2.065975725019707
Man to woman ratio
0.48403279278146466
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance
49,89,social bonds,0.804698,1.178125,0.848806,13,8,False

France
Probability of women talking about social bonds
0.0204015060092794
Probability of men talking about social bonds
0.0039344381388003
Women to man ratio
5.185367081537158
Man to woman ratio
0.19285037766382368
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance
2,89,social bonds,0.061829,3.512195,0.284722,18,3,False

Austria
Probability of women talking about social bonds
0.0164918115940389
Probability of men talking about social bonds
0.0082676573373385
Women to man ratio
1.9947381611425004
Man to woman ratio
0.5013189297121798
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance
62,89,social bonds,1.0,2.0,0.5,4,1,False

Italy
Probability of women talking about social bonds
0.0311550739205021
Probability of men talking about social bonds
0.0195671193280708
Women to man ratio
1.5922156653793864
Man to woman ratio
0.6280556219510153
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance
10,89,social bonds,0.173864,2.266667,0.441176,14,7,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_m_Czechoslovakia%20(historical)_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Poland_m_Poland_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Hungary_m_Hungary_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Romania_m_Romania_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Russia_m_Russia_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Greece_m_Greece_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_m_Yugoslavia%20(historical)_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Netherlands_m_Netherlands_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/France_m_France_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Austria_m_Austria_w/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Italy_m_Italy_w/social%20bonds.png)

## Observation 2

## Qualitative description

Just as above, women are either more likely to discuss aid giving or the difference between men and women is insignificant. There is no country in case of which men would outperform women with regards to aid giving; women of various nationalities generally tend to outperform men.

## Quantitative proof

In [12]:
topic_word = "aid giving"
for country in countries_to_study:
    print (country)
    print ('\n')
    men = data_sets_1[country+'_m']
    topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
    women = data_sets_1[country+'_w']
    topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
    print ("Probability of women talking about "+topic_word)
    print(topic_w*1000)
    print ("Probability of men talking about "+topic_word)
    print(topic_m*1000)
    print ("Women to man ratio")
    print (topic_w/topic_m)
    print ('Result of Fisher test and odds ratio analysis:')
    df = data_sets_1[country+'_fisher']
    display(df[df.topic_word==topic_word])

Czechoslovakia (historical)


Probability of women talking about aid giving
27.107725038552
Probability of men talking about aid giving
25.310350347539
Women to man ratio
1.0710134259831676
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance
9,7,aid giving,0.00069,1.499115,0.66706,420,119,True

Poland


Probability of women talking about aid giving
38.125524551734
Probability of men talking about aid giving
27.689854370908698
Women to man ratio
1.3768770337697818
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance
16,7,aid giving,0.016001,1.345095,0.743442,265,140,True

Hungary


Probability of women talking about aid giving
20.721350101534302
Probability of men talking about aid giving
21.8764794297409
Women to man ratio
0.9471976589324419
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance
92,7,aid giving,1.0,0.998096,1.001907,214,51,False

Romania


Probability of women talking about aid giving
23.8392151709322
Probability of men talking about aid giving
20.2658480778707
Women to man ratio
1.1763245771571456
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance
7,7,aid giving,0.014677,1.52173,0.657147,208,57,True

Austria-Hungary (historical)


Probability of women talking about aid giving
24.2713532775721
Probability of men talking about aid giving
36.283666524512896
Women to man ratio
0.6689333135937242
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance
54,7,aid giving,0.547466,0.849429,1.177261,90,34,False

Russia


Probability of women talking about aid giving
36.684754423291295
Probability of men talking about aid giving
32.2065603775725
Women to man ratio
1.13904602022752
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance
55,7,aid giving,0.740137,1.125,0.888889,21,28,False

Germany


Probability of women talking about aid giving
16.689811270247798
Probability of men talking about aid giving
13.442520881226201
Women to man ratio
1.2415685582870664
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance
39,7,aid giving,0.545319,1.332011,0.750745,19,12,False

Greece


Probability of women talking about aid giving
32.6439570139578
Probability of men talking about aid giving
28.353113786385602
Women to man ratio
1.151335873015561
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance
11,7,aid giving,0.109725,1.880165,0.531868,35,22,False

Yugoslavia (historical)


Probability of women talking about aid giving
36.1616265968797
Probability of men talking about aid giving
31.0453328019616
Women to man ratio
1.1648007392143283
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance
7,7,aid giving,0.141039,3.315789,0.301587,27,2,False

Netherlands


Probability of women talking about aid giving
17.4479252921629
Probability of men talking about aid giving
5.3117340903052
Women to man ratio
3.284788921193979
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance
4,7,aid giving,0.03204,4.068376,0.245798,14,3,True

France


Probability of women talking about aid giving
31.0341012479065
Probability of men talking about aid giving
32.0190050861949
Women to man ratio
0.9692400236785293
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance
20,7,aid giving,0.24863,1.806452,0.553571,28,9,False

Austria


Probability of women talking about aid giving
43.4126464250318
Probability of men talking about aid giving
40.106245331218304
Women to man ratio
1.082441052920998
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance
24,7,aid giving,0.35255,0.506494,1.974359,9,7,False

Italy


Probability of women talking about aid giving
29.1095246586287
Probability of men talking about aid giving
35.204360276234304
Women to man ratio
0.8268727063982443
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance
8,7,aid giving,0.102315,2.66,0.37594,19,10,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_m_Czechoslovakia%20(historical)_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Poland_m_Poland_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Hungary_m_Hungary_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Romania_m_Romania_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Russia_m_Russia_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Germany_m_Germany_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Greece_m_Greece_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_m_Yugoslavia%20(historical)_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Netherlands_m_Netherlands_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/France_m_France_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Austria_m_Austria_w/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Italy_m_Italy_w/aid%20giving.png)

### Interpretation

Generally, when women and men of the same nationality are compared, women tend to discuss social bonds and solidarity more than men.