# Topics of Sociability and Solidarity in Recollections of men and women of different nationalities



 ### Research Question:

In Birkenau people of different nationalities were together; is it possible that women of one nationality give rise to the general trend that women are more likely to discuss memories of sociability and solidarity? Can we observe this phenomenon with different nationalities?

### Further considerations:`

- Nationality is somewhat intangible in the context of the data; hence, by nationality we mean the country of birth

- In dataset, 13 different nationalities are present;

In [178]:
import constants
import pandas as pd
import os
from IPython.display import display
import json

In [179]:

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
with open(parent+'/'+constants.output_data_segment_keyword_matrix + "metadata_partitions.json") as read_file:
        metadata_partitions = json.load(read_file)
nationalities = [element for element in metadata_partitions.keys() if (element[0].isupper()) and (element[-2] !="_")]
len(nationalities)

13

- But majority of victims were born in 5 countries, here we will focus on those who were born in these five countries; the number of victims is not enough with other countries

In [180]:
countries = []
for country in nationalities:
    countries.append({'country':country,'total':len(metadata_partitions[country]),'women':len(metadata_partitions[country+'_w']),'men':len(metadata_partitions[country+'_m'])})
    
countries = pd.DataFrame(countries)

In [181]:
countries.sort_values('total',ascending=False)

                         country  total  women  men
2    Czechoslovakia (historical)   1817   1317  500
9                         Poland   1404    849  555
6                        Hungary   1030    832  198
10                       Romania    948    690  258
1   Austria-Hungary (historical)    478    358  120
11                        Russia    199     81  118
4                        Germany    147     82   65
5                         Greece    129     68   61
12       Yugoslavia (historical)    100     84   16
8                    Netherlands     90     53   37
3                         France     86     59   27
0                        Austria     62     42   20
7                          Italy     53     29   24

In [182]:
countries.sort_values('total',ascending=False)[0:5].total.sum()

5677

In [183]:
countries.sort_values('total',ascending=False)[5:].total.sum()

866

In [184]:
countries.sort_values('total',ascending=False)[0:5].country

2      Czechoslovakia (historical)
9                           Poland
6                          Hungary
10                         Romania
1     Austria-Hungary (historical)
Name: country, dtype: object

In [185]:
countries_to_study = countries.sort_values('total',ascending=False).country.to_list()

## Load the relevant data

Load interview

Set up the paths to data

Two different datasets were created. In Dataset 1, the topic 'social bonds' include 'friendship' as well; similarly the topic 'aid giving' includes 'food sharing'. In Dataset 2, 'friendship' and 'food sharing' are distinguished, and they are different topics.

First, load Dataset 1

In [186]:
input_directory = constants.output_data_markov_modelling

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory = parent +'/'+ constants.output_data_markov_modelling
input_directory_fisher = parent +'/'+ constants.output_data_report_statistical_analysis
input_file_fisher = 'strength_of_association_odds_ratio'

In [187]:
data_sets_1 = {}
for country in countries_to_study:
    data_sets_1[country+'_w']= pd.read_csv(input_directory+country+'_w'+'/'+'stationary_probs.csv')
    data_sets_1[country+'_m']= pd.read_csv(input_directory+country+'_m'+'/'+'stationary_probs.csv')
    match ='strength_of_association_odds_ratio_Czechoslovakia (historical)_w_Czechoslovakia (historical)_m.csv'
    fisher_input_file_name = input_directory_fisher+input_file_fisher+'_'+country+'_w_'+country+'_m.csv'
    data_sets_1[country+'_fisher']= pd.read_csv(fisher_input_file_name)

Second,load Dataset 2

In [188]:
input_directory = 'data/output_aid_giving_sociability_expanded/output/markov_modelling/'

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory_fisher = parent +'/'+ 'data/output_aid_giving_sociability_expanded/output/reports_statistical_analysis/'
input_directory = parent +'/'+ input_directory

In [189]:
data_sets_2 = {}
for country in countries_to_study:
    data_sets_2[country+'_w']= pd.read_csv(input_directory+country+'_w'+'/'+'stationary_probs.csv')
    data_sets_2[country+'_m']= pd.read_csv(input_directory+country+'_m'+'/'+'stationary_probs.csv')
    fisher_input_file_name = input_directory_fisher+input_file_fisher+'_'+country+'_w_'+country+'_m.csv'
    data_sets_2[country+'_fisher']= pd.read_csv(fisher_input_file_name)

## Observation 1

## Qualitative description

some text

## Quantitative proof

In [190]:
data_sets_1.keys()

dict_keys(['Czechoslovakia (historical)_w', 'Czechoslovakia (historical)_m', 'Czechoslovakia (historical)_fisher', 'Poland_w', 'Poland_m', 'Poland_fisher', 'Hungary_w', 'Hungary_m', 'Hungary_fisher', 'Romania_w', 'Romania_m', 'Romania_fisher', 'Austria-Hungary (historical)_w', 'Austria-Hungary (historical)_m', 'Austria-Hungary (historical)_fisher', 'Russia_w', 'Russia_m', 'Russia_fisher', 'Germany_w', 'Germany_m', 'Germany_fisher', 'Greece_w', 'Greece_m', 'Greece_fisher', 'Yugoslavia (historical)_w', 'Yugoslavia (historical)_m', 'Yugoslavia (historical)_fisher', 'Netherlands_w', 'Netherlands_m', 'Netherlands_fisher', 'France_w', 'France_m', 'France_fisher', 'Austria_w', 'Austria_m', 'Austria_fisher', 'Italy_w', 'Italy_m', 'Italy_fisher'])

In [198]:
topic_word = "social bonds"
for country in countries_to_study:
    print ('\n')
    print (country)
     
    men = data_sets_1[country+'_m']
    topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
    women = data_sets_1[country+'_w']
    topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
    print ("Probability of women talking about "+topic_word)
    print(topic_w*1000)
    print ("Probability of men talking about "+topic_word)
    print(topic_m*1000)
    print ("Women to man ratio")
    print (topic_w/topic_m)
    print ('Result of Fisher test and odds ratio analysis:')
    df = data_sets_1[country+'_fisher']
    display(df[df.topic_word==topic_word])

Czechoslovakia (historical)
Probability of women talking about social bonds
18.89457777370193
Probability of men talking about social bonds
17.756734251024444
Women to man ratio
1.0640795490089534
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
16,97,social bonds,0.00345,1.5328,0.652401,263,70,False,True

Poland
Probability of women talking about social bonds
13.773455036227158
Probability of men talking about social bonds
16.64552719950897
Women to man ratio
0.827456821952354
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
38,97,social bonds,0.149723,1.263752,0.791295,140,75,False,False

Hungary
Probability of women talking about social bonds
15.37529012361197
Probability of men talking about social bonds
8.338377766441337
Women to man ratio
1.8439186319299916
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
44,97,social bonds,0.196021,1.322304,0.756256,169,32,False,False

Romania
Probability of women talking about social bonds
16.422038409405726
Probability of men talking about social bonds
20.654119977184987
Women to man ratio
0.795097463728587
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
54,97,social bonds,0.361234,1.204833,0.829991,143,46,False,False

Austria-Hungary (historical)
Probability of women talking about social bonds
10.441562900870723
Probability of men talking about social bonds
12.57901203333953
Women to man ratio
0.8300781391413179
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
50,97,social bonds,0.442039,0.783738,1.275936,46,19,False,False

Russia
Probability of women talking about social bonds
17.513406922495097
Probability of men talking about social bonds
11.88179522787616
Women to man ratio
1.4739697652259214
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
6,97,social bonds,0.07661,2.256716,0.443122,14,10,False,False

Germany
Probability of women talking about social bonds
19.246561695062553
Probability of men talking about social bonds
1.9820640401205514
Women to man ratio
9.710363189825065
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
5,97,social bonds,0.027591,3.69697,0.270492,16,4,False,True

Greece
Probability of women talking about social bonds
13.253408892300369
Probability of men talking about social bonds
11.366793866526516
Women to man ratio
1.1659760041333773
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
31,97,social bonds,0.307961,0.619342,1.614618,14,18,False,False

Yugoslavia (historical)
Probability of women talking about social bonds
27.147559859472047
Probability of men talking about social bonds
13.145870552773994
Women to man ratio
2.065101717721043
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
62,97,social bonds,1.0,1.266667,0.789474,19,3,False,False

Netherlands
Probability of women talking about social bonds
31.595724436316612
Probability of men talking about social bonds
14.183443525698253
Women to man ratio
2.2276483407622374
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
50,97,social bonds,0.804698,1.178125,0.848806,13,8,False,False

France
Probability of women talking about social bonds
15.34488069876679
Probability of men talking about social bonds
5.310724966203785
Women to man ratio
2.8894135539720156
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
3,97,social bonds,0.061829,3.512195,0.284722,18,3,False,False

Austria
Probability of women talking about social bonds
8.489192235483094
Probability of men talking about social bonds
4.308237188389009
Women to man ratio
1.9704560970695952
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
67,97,social bonds,1.0,2.0,0.5,4,1,False,False

Italy
Probability of women talking about social bonds
32.89811760943014
Probability of men talking about social bonds
8.891129565284349
Women to man ratio
3.700105522911477
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
13,97,social bonds,0.173864,2.266667,0.441176,14,7,False,False

## Observation 2

## Qualitative description

some text

## Quantitative proof

In [199]:
topic_word = "aid giving"
for country in countries_to_study:
    print (country)
    print ('\n')
    men = data_sets_1[country+'_m']
    topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
    women = data_sets_1[country+'_w']
    topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
    print ("Probability of women talking about "+topic_word)
    print(topic_w*1000)
    print ("Probability of men talking about "+topic_word)
    print(topic_m*1000)
    print ("Women to man ratio")
    print (topic_w/topic_m)
    print ('Result of Fisher test and odds ratio analysis:')
    df = data_sets_1[country+'_fisher']
    display(df[df.topic_word==topic_word])

Czechoslovakia (historical)


Probability of women talking about aid giving
26.269648492339737
Probability of men talking about aid giving
29.608854889439225
Women to man ratio
0.8872227105854573
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
11,8,aid giving,0.00069,1.499115,0.66706,420,119,False,True

Poland


Probability of women talking about aid giving
31.094530625167906
Probability of men talking about aid giving
23.42668691426436
Women to man ratio
1.3273123399380322
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
20,8,aid giving,0.016001,1.345095,0.743442,265,140,False,True

Hungary


Probability of women talking about aid giving
15.80533691824304
Probability of men talking about aid giving
13.283920012275592
Women to man ratio
1.1898097025303842
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
110,8,aid giving,1.0,0.998096,1.001907,214,51,False,False

Romania


Probability of women talking about aid giving
19.146283172632263
Probability of men talking about aid giving
12.767930885335131
Women to man ratio
1.4995603707898448
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
9,8,aid giving,0.014677,1.52173,0.657147,208,57,False,True

Austria-Hungary (historical)


Probability of women talking about aid giving
23.20141368550154
Probability of men talking about aid giving
37.52611335502776
Women to man ratio
0.6182738261753132
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
58,8,aid giving,0.547466,0.849429,1.177261,90,34,False,False

Russia


Probability of women talking about aid giving
36.817528156176536
Probability of men talking about aid giving
17.211808092291694
Women to man ratio
2.1390854440600733
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
62,8,aid giving,0.740137,1.125,0.888889,21,28,False,False

Germany


Probability of women talking about aid giving
11.250307995005448
Probability of men talking about aid giving
12.397887426704365
Women to man ratio
0.9074375018741425
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
46,8,aid giving,0.545319,1.332011,0.750745,19,12,False,False

Greece


Probability of women talking about aid giving
34.005366474680436
Probability of men talking about aid giving
23.522633119255758
Women to man ratio
1.445644554428877
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
13,8,aid giving,0.109725,1.880165,0.531868,35,22,False,False

Yugoslavia (historical)


Probability of women talking about aid giving
21.447696942308887
Probability of men talking about aid giving
17.568017401405065
Women to man ratio
1.2208376421914025
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
8,8,aid giving,0.141039,3.315789,0.301587,27,2,False,False

Netherlands


Probability of women talking about aid giving
9.211456651348703
Probability of men talking about aid giving
3.9138043456927902
Women to man ratio
2.353581282489522
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
3,8,aid giving,0.03204,4.068376,0.245798,14,3,False,True

France


Probability of women talking about aid giving
35.58308490656589
Probability of men talking about aid giving
39.40163932359799
Women to man ratio
0.9030864075052547
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
19,8,aid giving,0.24863,1.806452,0.553571,28,9,False,False

Austria


Probability of women talking about aid giving
36.85075159261615
Probability of men talking about aid giving
24.026040992776103
Women to man ratio
1.5337837641955263
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
28,8,aid giving,0.35255,0.506494,1.974359,9,7,False,False

Italy


Probability of women talking about aid giving
21.513842903008392
Probability of men talking about aid giving
19.710414312535782
Women to man ratio
1.0914962294488977
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
9,8,aid giving,0.102315,2.66,0.37594,19,10,False,False

## Observation 3

## Qualitative description

some text

## Quantitative proof

In [202]:
topic_word = "friends"
for country in countries_to_study:
    print ('\n')
    print (country)
    try:
        
        men = data_sets_2[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_2[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w*1000)
        print ("Probability of men talking about "+topic_word)
        print(topic_m*1000)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("In case of this country, the probability of hearing a man talking about this topic is 0.")
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
        pass

Czechoslovakia (historical)
Probability of women talking about friends
3.1888999230171216
Probability of men talking about friends
2.2688660869970105
Women to man ratio
1.4055038070747645
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
48,53,friends,0.29959,1.35617,0.737371,60,17,False,False

Poland
Probability of women talking about friends
2.962268393934973
Probability of men talking about friends
3.920707952346391
Women to man ratio
0.7555442613781449
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
33,53,friends,0.116218,1.578947,0.633333,45,19,False,False

Hungary
Probability of women talking about friends
5.808893849268422
Probability of men talking about friends
1.8935965906923489
Women to man ratio
3.0676511976315597
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
86,53,friends,0.75418,1.161499,0.860957,58,12,False,False

Romania
Probability of women talking about friends
3.1129282217935685
Probability of men talking about friends
1.0605430896203316
Women to man ratio
2.9352208809431577
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
8,53,friends,0.009268,2.930233,0.34127,45,6,False,True

Austria-Hungary (historical)
Probability of women talking about friends
2.822670551315358
Probability of men talking about friends
0.9288644723289476
Women to man ratio
3.0388400411505225
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
73,53,friends,0.784171,0.866667,1.153846,13,5,False,False

Russia
Probability of women talking about friends
1.8956612935826387
Probability of men talking about friends
0.08638929237030633
Women to man ratio
21.94324367720153
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
3,53,friends,0.041882,7.697368,0.129915,5,1,False,True

Germany
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
1,53,friends,0.002442,inf,0.0,10,0,False,True

Greece
Probability of women talking about friends
1.7442730046244581
Probability of men talking about friends
1.1369029010578908
Women to man ratio
1.5342321696966452
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
72,53,friends,1.0,1.361538,0.734463,3,2,False,False

Yugoslavia (historical)
Probability of women talking about friends
23.89073513645682
Probability of men talking about friends
7.364554631392129
Women to man ratio
3.2440162823452
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
109,53,friends,1.0,0.949367,1.053333,5,1,False,False

Netherlands
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
111,53,friends,1.0,inf,0.0,1,0,False,False

France
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
3,53,friends,0.05185,inf,0.0,9,0,False,False

Austria
Probability of women talking about friends
4.519808734668114
Probability of men talking about friends
4.404740069683302
Women to man ratio
1.0261238264152748
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
85,53,friends,1.0,1.461538,0.684211,3,1,False,False

Italy
Probability of women talking about friends
7.127229631914287
Probability of men talking about friends
0.7998316015721098
Women to man ratio
8.910912769519678
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
16,53,friends,0.204393,4.791667,0.208696,5,1,False,False

## Observation 4

## Qualitative description

some text

## Quantitative proof

In [203]:
topic_word = "food sharing"
for country in countries_to_study:
    print ('\n')
    print (country)
    try:
        
        men = data_sets_2[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_2[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w*1000)
        print ("Probability of men talking about "+topic_word)
        print(topic_m*1000)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("In case of this country, the probability of hearing a man talking about this topic is 0.")
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
        pass

Czechoslovakia (historical)
Probability of women talking about food sharing
3.693490146222757
Probability of men talking about food sharing
1.6156618317275524
Women to man ratio
2.286053971005479
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
17,49,food sharing,0.004992,2.146829,0.465803,82,15,False,True

Poland
Probability of women talking about food sharing
3.848805566139485
Probability of men talking about food sharing
2.6100569301941414
Women to man ratio
1.474605983346579
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
52,49,food sharing,0.365508,1.25947,0.793985,57,30,False,False

Hungary
Probability of women talking about food sharing
1.97178151743768
Probability of men talking about food sharing
2.3524827794891485
Women to man ratio
0.8381704362001157
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
79,49,food sharing,0.685378,0.84,1.190476,32,9,False,False

Romania
Probability of women talking about food sharing
2.773417770704684
Probability of men talking about food sharing
1.950553875902052
Women to man ratio
1.421861659382308
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
58,49,food sharing,0.405055,1.445399,0.691851,38,10,False,False

Austria-Hungary (historical)
Probability of women talking about food sharing
2.419846768742492
Probability of men talking about food sharing
1.392534376405766
Women to man ratio
1.7377285686751196
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
61,49,food sharing,0.580167,1.587209,0.630037,14,3,False,False

Russia
Probability of women talking about food sharing
5.697843768341601
Probability of men talking about food sharing
3.325336357922545
Women to man ratio
1.7134638890789518
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
42,49,food sharing,0.445719,1.991342,0.502174,4,3,False,False

Germany
Probability of women talking about food sharing
0.9548891388300093
Probability of men talking about food sharing
0.9338503798154283
Women to man ratio
1.0225290469108543
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
34,49,food sharing,0.383417,3.282051,0.304688,4,1,False,False

Greece
Probability of women talking about food sharing
2.8347507977002135
Probability of men talking about food sharing
1.977053722703606
Women to man ratio
1.4338258819915695
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
82,49,food sharing,1.0,0.885246,1.12963,7,7,False,False

Yugoslavia (historical)
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
111,49,food sharing,1.0,inf,0.0,4,0,False,False

Netherlands
Probability of women talking about food sharing
2.0840388729403427
Probability of men talking about food sharing
0.3013291913548213
Women to man ratio
6.916153272672292
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
46,49,food sharing,0.64083,2.16,0.462963,3,1,False,False

France
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
21,49,food sharing,0.303854,inf,0.0,4,0,False,False

Austria
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
83,49,food sharing,1.0,NaN,NaN,0,0,False,False

Italy
Probability of women talking about food sharing
1.8434042003724307
Probability of men talking about food sharing
2.072382758900781
Women to man ratio
0.8895095234966134
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
33,49,food sharing,0.487455,1.826087,0.547619,6,3,False,False