# Topics of Sociability and Solidarity in Recollections of men and women of different nationalities



 ### Research Question:

In Birkenau people of different nationalities were together; is it possible that women of one nationality give rise to the general trend that women are more likely to discuss memories of sociability and solidarity? Can we observe this phenomenon with different nationalities?

### Further considerations:`

- Nationality is somewhat intangible in the context of the data; hence, by nationality we mean the country of birth

- In dataset, 13 different nationalities are present;

In [18]:
import constants
import pandas as pd
import os
from IPython.display import display
import json

In [19]:

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
with open(parent+'/'+constants.output_data_segment_keyword_matrix + "metadata_partitions.json") as read_file:
        metadata_partitions = json.load(read_file)
nationalities = [element for element in metadata_partitions.keys() if (element[0].isupper()) and (element[-2] !="_")]
len(nationalities)

13

- But majority of victims were born in 5 countries, here we will focus on those who were born in these five countries; the number of victims is not enough with other countries

In [20]:
countries = []
for country in nationalities:
    countries.append({'country':country,'total':len(metadata_partitions[country]),'women':len(metadata_partitions[country+'_w']),'men':len(metadata_partitions[country+'_m'])})
    
countries = pd.DataFrame(countries)

In [21]:
countries.sort_values('total',ascending=False)

                         country  total  women  men
2    Czechoslovakia (historical)   1817   1317  500
9                         Poland   1404    849  555
6                        Hungary   1030    832  198
10                       Romania    948    690  258
1   Austria-Hungary (historical)    478    358  120
11                        Russia    199     81  118
4                        Germany    147     82   65
5                         Greece    129     68   61
12       Yugoslavia (historical)    100     84   16
8                    Netherlands     90     53   37
3                         France     86     59   27
0                        Austria     62     42   20
7                          Italy     53     29   24

In [22]:
countries.sort_values('total',ascending=False)[0:5].total.sum()

5677

In [23]:
countries.sort_values('total',ascending=False)[5:].total.sum()

866

In [24]:
countries.sort_values('total',ascending=False)[0:5].country

2      Czechoslovakia (historical)
9                           Poland
6                          Hungary
10                         Romania
1     Austria-Hungary (historical)
Name: country, dtype: object

In [25]:
countries_to_study = countries.sort_values('total',ascending=False).country.to_list()

## Load the relevant data

Load interview

Set up the paths to data

Two different datasets were created. In Dataset 1, the topic 'social bonds' include 'friendship' as well; similarly the topic 'aid giving' includes 'food sharing'. In Dataset 2, 'friendship' and 'food sharing' are distinguished, and they are different topics.

First, load Dataset 1

In [26]:
input_directory = constants.output_data_markov_modelling

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory = parent +'/'+ constants.output_data_markov_modelling
input_directory_fisher = parent +'/'+ constants.output_data_report_statistical_analysis
input_file_fisher = 'strength_of_association_odds_ratio'

In [27]:
data_sets_1 = {}
for country in countries_to_study:
    data_sets_1[country+'_w']= pd.read_csv(input_directory+country+'_w'+'/'+'stationary_probs.csv')
    data_sets_1[country+'_m']= pd.read_csv(input_directory+country+'_m'+'/'+'stationary_probs.csv')
    match ='strength_of_association_odds_ratio_Czechoslovakia (historical)_w_Czechoslovakia (historical)_m.csv'
    fisher_input_file_name = input_directory_fisher+input_file_fisher+'_'+country+'_w_'+country+'_m.csv'
    data_sets_1[country+'_fisher']= pd.read_csv(fisher_input_file_name)

Second,load Dataset 2

In [28]:
input_directory = 'data/output_aid_giving_sociability_expanded/markov_modelling/'

path = os.getcwd()
parent = os.path.abspath(os.path.join(path, os.pardir))
input_directory_fisher = parent +'/'+ 'data/output_aid_giving_sociability_expanded/reports_statistical_analysis/'
input_directory = parent +'/'+ input_directory

In [29]:
data_sets_2 = {}
for country in countries_to_study:
    data_sets_2[country+'_w']= pd.read_csv(input_directory+country+'_w'+'/'+'stationary_probs.csv')
    data_sets_2[country+'_m']= pd.read_csv(input_directory+country+'_m'+'/'+'stationary_probs.csv')
    fisher_input_file_name = input_directory_fisher+input_file_fisher+'_'+country+'_w_'+country+'_m.csv'
    data_sets_2[country+'_fisher']= pd.read_csv(fisher_input_file_name)

## Observation 1

## Qualitative description

When comparing man and women of the same nationalities, we can see that women are either more likely to remember about social life in Birkenau (Hungary, former Yugoslavia, Germany, Netherlands, France, Austria) or the difference between men and women is insignificant (Russia,Romania, former Czechoslovakia, Greece). There is only one exception. Polish men are more likely to remember about social bonds than Polish women.

## Quantitative proof

In [35]:
topic_word = "social bonds"
for country in countries_to_study:
    print ('\n')
    print (country)
     
    men = data_sets_1[country+'_m']
    topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
    women = data_sets_1[country+'_w']
    topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
    print ("Probability of women talking about "+topic_word)
    print(topic_w)
    print ("Probability of men talking about "+topic_word)
    print(topic_m)
    print ("Women to man ratio")
    print (topic_w/topic_m)
    print ("Man to woman ratio")
    print (topic_m/topic_w)
    print ('Result of Fisher test and odds ratio analysis:')
    df = data_sets_1[country+'_fisher']
    display(df[df.topic_word==topic_word])

Czechoslovakia (historical)
Probability of women talking about social bonds
0.01933374810115575
Probability of men talking about social bonds
0.017159318449056018
Women to man ratio
1.1267200476846067
Man to woman ratio
0.8875319135884601
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
16,97,social bonds,0.00345,1.5328,0.652401,263,70,False,True

Poland
Probability of women talking about social bonds
0.013475160475637214
Probability of men talking about social bonds
0.01683849276582132
Women to man ratio
0.8002593024827627
Man to woman ratio
1.2495949711519159
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
38,97,social bonds,0.149723,1.263752,0.791295,140,75,False,False

Hungary
Probability of women talking about social bonds
0.01553999674883634
Probability of men talking about social bonds
0.008393344867916291
Women to man ratio
1.8514664884363625
Man to woman ratio
0.5401123953610092
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
44,97,social bonds,0.196021,1.322304,0.756256,169,32,False,False

Romania
Probability of women talking about social bonds
0.016452461722590832
Probability of men talking about social bonds
0.019161765822883082
Women to man ratio
0.8586088502836839
Man to woman ratio
1.164674694035125
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
54,97,social bonds,0.361234,1.204833,0.829991,143,46,False,False

Austria-Hungary (historical)
Probability of women talking about social bonds
0.010689353710977591
Probability of men talking about social bonds
0.012853297697037356
Women to man ratio
0.8316428953047165
Man to woman ratio
1.2024391786977233
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
50,97,social bonds,0.442039,0.783738,1.275936,46,19,False,False

Russia
Probability of women talking about social bonds
0.017098072815623613
Probability of men talking about social bonds
0.01853243331380281
Women to man ratio
0.9226026893559143
Man to woman ratio
1.0838901853820935
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
6,97,social bonds,0.07661,2.256716,0.443122,14,10,False,False

Germany
Probability of women talking about social bonds
0.01895503629708769
Probability of men talking about social bonds
0.0015685006780627475
Women to man ratio
12.0848123065519
Man to woman ratio
0.08274849245758167
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
5,97,social bonds,0.027591,3.69697,0.270492,16,4,False,True

Greece
Probability of women talking about social bonds
0.013350705422305568
Probability of men talking about social bonds
0.010982096373020752
Women to man ratio
1.2156791352790963
Man to woman ratio
0.822585475870999
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
31,97,social bonds,0.307961,0.619342,1.614618,14,18,False,False

Yugoslavia (historical)
Probability of women talking about social bonds
0.02947335763404124
Probability of men talking about social bonds
0.01573107263580465
Women to man ratio
1.8735758404012774
Man to woman ratio
0.5337387355431646
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
62,97,social bonds,1.0,1.266667,0.789474,19,3,False,False

Netherlands
Probability of women talking about social bonds
0.031991298812052336
Probability of men talking about social bonds
0.015936634547862885
Women to man ratio
2.0074061882997998
Man to woman ratio
0.49815528408177506
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
50,97,social bonds,0.804698,1.178125,0.848806,13,8,False,False

France
Probability of women talking about social bonds
0.01473448576427724
Probability of men talking about social bonds
0.003960516448677086
Women to man ratio
3.720344544762322
Man to woman ratio
0.2687923088757593
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
3,97,social bonds,0.061829,3.512195,0.284722,18,3,False,False

Austria
Probability of women talking about social bonds
0.008339767531099388
Probability of men talking about social bonds
0.00499746413064693
Women to man ratio
1.6687998779132391
Man to woman ratio
0.599233025622255
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
67,97,social bonds,1.0,2.0,0.5,4,1,False,False

Italy
Probability of women talking about social bonds
0.034538930059829824
Probability of men talking about social bonds
0.008968710464284865
Women to man ratio
3.8510475053655155
Man to woman ratio
0.2596696090107273
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
13,97,social bonds,0.173864,2.266667,0.441176,14,7,False,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Poland_w_Poland_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Hungary_w_Hungary_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Romania_w_Romania_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Russia_w_Russia_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Greece_w_Greece_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/France_w_France_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Austria_w_Austria_m/social%20bonds.png)

![title](output/markov_modelling/bootstrap/Italy_w_Italy_m/social%20bonds.png)

In [36]:
countries_to_study

['Czechoslovakia (historical)',
 'Poland',
 'Hungary',
 'Romania',
 'Austria-Hungary (historical)',
 'Russia',
 'Germany',
 'Greece',
 'Yugoslavia (historical)',
 'Netherlands',
 'France',
 'Austria',
 'Italy']

## Observation 2

## Qualitative description

Just as above, women are either more likely to discuss aid giving or the difference between men and women is insignificant. There is no country in case of which men would outperform women with regards to aid giving.

## Quantitative proof

In [32]:
topic_word = "aid giving"
for country in countries_to_study:
    print (country)
    print ('\n')
    men = data_sets_1[country+'_m']
    topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
    women = data_sets_1[country+'_w']
    topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
    print ("Probability of women talking about "+topic_word)
    print(topic_w*1000)
    print ("Probability of men talking about "+topic_word)
    print(topic_m*1000)
    print ("Women to man ratio")
    print (topic_w/topic_m)
    print ('Result of Fisher test and odds ratio analysis:')
    df = data_sets_1[country+'_fisher']
    display(df[df.topic_word==topic_word])

Czechoslovakia (historical)


Probability of women talking about aid giving
26.50222564009155
Probability of men talking about aid giving
26.870196364141666
Women to man ratio
0.9863056183489163
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
11,8,aid giving,0.00069,1.499115,0.66706,420,119,False,True

Poland


Probability of women talking about aid giving
31.55992406637105
Probability of men talking about aid giving
22.527000124970282
Women to man ratio
1.400982105530693
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
20,8,aid giving,0.016001,1.345095,0.743442,265,140,False,True

Hungary


Probability of women talking about aid giving
15.686087814911023
Probability of men talking about aid giving
13.086034108604496
Women to man ratio
1.19868920443948
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
110,8,aid giving,1.0,0.998096,1.001907,214,51,False,False

Romania


Probability of women talking about aid giving
19.30352969712627
Probability of men talking about aid giving
12.636137431515492
Women to man ratio
1.5276448045730961
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
9,8,aid giving,0.014677,1.52173,0.657147,208,57,False,True

Austria-Hungary (historical)


Probability of women talking about aid giving
22.393235870521302
Probability of men talking about aid giving
36.627673666726295
Women to man ratio
0.6113747783786772
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
58,8,aid giving,0.547466,0.849429,1.177261,90,34,False,False

Russia


Probability of women talking about aid giving
31.608119056253347
Probability of men talking about aid giving
20.043386336419267
Women to man ratio
1.5769849727847989
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
62,8,aid giving,0.740137,1.125,0.888889,21,28,False,False

Germany


Probability of women talking about aid giving
11.3500088116996
Probability of men talking about aid giving
12.391732382462756
Women to man ratio
0.9159339841588702
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
46,8,aid giving,0.545319,1.332011,0.750745,19,12,False,False

Greece


Probability of women talking about aid giving
34.11604638551506
Probability of men talking about aid giving
23.195449598031857
Women to man ratio
1.4708077220632887
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
13,8,aid giving,0.109725,1.880165,0.531868,35,22,False,False

Yugoslavia (historical)


Probability of women talking about aid giving
23.616962208603745
Probability of men talking about aid giving
15.779631459784175
Women to man ratio
1.4966738778908568
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
8,8,aid giving,0.141039,3.315789,0.301587,27,2,False,False

Netherlands


Probability of women talking about aid giving
9.249737010859109
Probability of men talking about aid giving
4.156777979945483
Women to man ratio
2.225217958593117
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
3,8,aid giving,0.03204,4.068376,0.245798,14,3,False,True

France


Probability of women talking about aid giving
31.706485995710736
Probability of men talking about aid giving
33.02672152610757
Women to man ratio
0.9600252320124119
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
19,8,aid giving,0.24863,1.806452,0.553571,28,9,False,False

Austria


Probability of women talking about aid giving
38.33988916144237
Probability of men talking about aid giving
26.61486980236288
Women to man ratio
1.4405439307480115
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
28,8,aid giving,0.35255,0.506494,1.974359,9,7,False,False

Italy


Probability of women talking about aid giving
21.06143778494733
Probability of men talking about aid giving
19.69205769518023
Women to man ratio
1.0695397155017612
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
9,8,aid giving,0.102315,2.66,0.37594,19,10,False,False

![title](output/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Poland_w_Poland_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Hungary_w_Hungary_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Romania_w_Romania_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Russia_w_Russia_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Germany_w_Germany_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Greece_w_Greece_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/France_w_France_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Austria_w_Austria_m/aid%20giving.png)

![title](output/markov_modelling/bootstrap/Italy_w_Italy_m/aid%20giving.png)

## Observation 3

## Qualitative description

some text

## Quantitative proof

In [33]:
topic_word = "friends"
for country in countries_to_study:
    print ('\n')
    print (country)
    try:
        
        men = data_sets_2[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_2[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w*1000)
        print ("Probability of men talking about "+topic_word)
        print(topic_m*1000)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("In case of this country, the probability of hearing a man talking about this topic is 0.")
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
        pass

Czechoslovakia (historical)
Probability of women talking about friends
3.185367465819096
Probability of men talking about friends
2.301810972882403
Women to man ratio
1.3838527591300316
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
48,53,friends,0.29959,1.35617,0.737371,60,17,False,False

Poland
Probability of women talking about friends
3.0342454149768763
Probability of men talking about friends
3.679141299658481
Women to man ratio
0.8247156517904143
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
33,53,friends,0.116218,1.578947,0.633333,45,19,False,False

Hungary
Probability of women talking about friends
5.981920730373353
Probability of men talking about friends
1.6126937279633695
Women to man ratio
3.709272645295006
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
86,53,friends,0.75418,1.161499,0.860957,58,12,False,False

Romania
Probability of women talking about friends
3.2439260535920567
Probability of men talking about friends
0.8918350330250998
Women to man ratio
3.6373610964672207
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
8,53,friends,0.009268,2.930233,0.34127,45,6,False,True

Austria-Hungary (historical)
Probability of women talking about friends
2.951998633712711
Probability of men talking about friends
1.2444353220398234
Women to man ratio
2.3721591483548736
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
73,53,friends,0.784171,0.866667,1.153846,13,5,False,False

Russia
Probability of women talking about friends
2.2776783828529763
Probability of men talking about friends
0.09369639778112093
Women to man ratio
24.30913500189983
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
3,53,friends,0.041882,7.697368,0.129915,5,1,False,True

Germany
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
1,53,friends,0.002442,inf,0.0,10,0,False,True

Greece
Probability of women talking about friends
1.8748684984282773
Probability of men talking about friends
1.12407947209868
Women to man ratio
1.6679145424903619
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
72,53,friends,1.0,1.361538,0.734463,3,2,False,False

Yugoslavia (historical)
Probability of women talking about friends
14.8354831619334
Probability of men talking about friends
8.617464162802595
Women to man ratio
1.7215601807746381
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
109,53,friends,1.0,0.949367,1.053333,5,1,False,False

Netherlands
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
111,53,friends,1.0,inf,0.0,1,0,False,False

France
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
3,53,friends,0.05185,inf,0.0,9,0,False,False

Austria
Probability of women talking about friends
4.907263013637347
Probability of men talking about friends
4.8302559298464445
Women to man ratio
1.0159426508469398
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
85,53,friends,1.0,1.461538,0.684211,3,1,False,False

Italy
Probability of women talking about friends
6.748063699829245
Probability of men talking about friends
0.9009647813244207
Women to man ratio
7.48981962414732
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
16,53,friends,0.204393,4.791667,0.208696,5,1,False,False

## Observation 4

## Qualitative description

some text

## Quantitative proof

In [34]:
topic_word = "food sharing"
for country in countries_to_study:
    print ('\n')
    print (country)
    try:
        
        men = data_sets_2[country+'_m']
        topic_m = men[men.topic_name==topic_word]['stationary_prob'].values[0]
        women = data_sets_2[country+'_w']
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("Probability of women talking about "+topic_word)
        print(topic_w*1000)
        print ("Probability of men talking about "+topic_word)
        print(topic_m*1000)
        print ("Women to man ratio")
        print (topic_w/topic_m)
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
    except:
        topic_w = women[women.topic_name==topic_word]['stationary_prob'].values[0]
        print ("In case of this country, the probability of hearing a man talking about this topic is 0.")
        print ('Result of Fisher test and odds ratio analysis:')
        df = data_sets_2[country+'_fisher']
        display(df[df.topic_word==topic_word])
        pass

Czechoslovakia (historical)
Probability of women talking about food sharing
4.090372003007207
Probability of men talking about food sharing
1.6738522628264008
Women to man ratio
2.443687590504772
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Czechoslovakia (historical)_w,Czechoslovakia (historical)_m,count_Czechoslovakia (historical)_w,count_Czechoslovakia (historical)_m,significance_Bonferroni_corrected,significance
17,49,food sharing,0.004992,2.146829,0.465803,82,15,False,True

Poland
Probability of women talking about food sharing
3.7624910182409934
Probability of men talking about food sharing
2.3334319350328783
Women to man ratio
1.612428012899369
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Poland_w,Poland_m,count_Poland_w,count_Poland_m,significance_Bonferroni_corrected,significance
52,49,food sharing,0.365508,1.25947,0.793985,57,30,False,False

Hungary
Probability of women talking about food sharing
1.9196677968488702
Probability of men talking about food sharing
2.4390945105581103
Women to man ratio
0.7870411698026472
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Hungary_w,Hungary_m,count_Hungary_w,count_Hungary_m,significance_Bonferroni_corrected,significance
79,49,food sharing,0.685378,0.84,1.190476,32,9,False,False

Romania
Probability of women talking about food sharing
2.632857887404793
Probability of men talking about food sharing
2.226402346267736
Women to man ratio
1.1825615849796534
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Romania_w,Romania_m,count_Romania_w,count_Romania_m,significance_Bonferroni_corrected,significance
58,49,food sharing,0.405055,1.445399,0.691851,38,10,False,False

Austria-Hungary (historical)
Probability of women talking about food sharing
2.5363310031948147
Probability of men talking about food sharing
1.373757273736727
Women to man ratio
1.8462730292199265
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria-Hungary (historical)_w,Austria-Hungary (historical)_m,count_Austria-Hungary (historical)_w,count_Austria-Hungary (historical)_m,significance_Bonferroni_corrected,significance
61,49,food sharing,0.580167,1.587209,0.630037,14,3,False,False

Russia
Probability of women talking about food sharing
5.922376980973797
Probability of men talking about food sharing
3.7878148842223136
Women to man ratio
1.563533900677867
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Russia_w,Russia_m,count_Russia_w,count_Russia_m,significance_Bonferroni_corrected,significance
42,49,food sharing,0.445719,1.991342,0.502174,4,3,False,False

Germany
Probability of women talking about food sharing
0.8179273336290701
Probability of men talking about food sharing
0.44433259826114474
Women to man ratio
1.8407997451232576
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Germany_w,Germany_m,count_Germany_w,count_Germany_m,significance_Bonferroni_corrected,significance
34,49,food sharing,0.383417,3.282051,0.304688,4,1,False,False

Greece
Probability of women talking about food sharing
3.034656817959745
Probability of men talking about food sharing
1.8988384816457602
Women to man ratio
1.5981647977396944
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Greece_w,Greece_m,count_Greece_w,count_Greece_m,significance_Bonferroni_corrected,significance
82,49,food sharing,1.0,0.885246,1.12963,7,7,False,False

Yugoslavia (historical)
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Yugoslavia (historical)_w,Yugoslavia (historical)_m,count_Yugoslavia (historical)_w,count_Yugoslavia (historical)_m,significance_Bonferroni_corrected,significance
111,49,food sharing,1.0,inf,0.0,4,0,False,False

Netherlands
Probability of women talking about food sharing
2.068028955909248
Probability of men talking about food sharing
0.35098741603311
Women to man ratio
5.89203162689503
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Netherlands_w,Netherlands_m,count_Netherlands_w,count_Netherlands_m,significance_Bonferroni_corrected,significance
46,49,food sharing,0.64083,2.16,0.462963,3,1,False,False

France
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,France_w,France_m,count_France_w,count_France_m,significance_Bonferroni_corrected,significance
21,49,food sharing,0.303854,inf,0.0,4,0,False,False

Austria
In case of this country, the probability of hearing a man talking about this topic is 0.
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Austria_w,Austria_m,count_Austria_w,count_Austria_m,significance_Bonferroni_corrected,significance
83,49,food sharing,1.0,NaN,NaN,0,0,False,False

Italy
Probability of women talking about food sharing
1.8052515312875574
Probability of men talking about food sharing
2.234575278950879
Women to man ratio
0.8078723273691247
Result of Fisher test and odds ratio analysis:

,Unnamed: 0,topic_word,p_value,Italy_w,Italy_m,count_Italy_w,count_Italy_m,significance_Bonferroni_corrected,significance
33,49,food sharing,0.487455,1.826087,0.547619,6,3,False,False

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Czechoslovakia%20(historical)_w_Czechoslovakia%20(historical)_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Poland_w_Poland_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Hungary_w_Hungary_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Romania_w_Romania_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Russia_w_Russia_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Germany_w_Germany_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Greece_w_Greece_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Yugoslavia%20(historical)_w_Yugoslavia%20(historical)_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Netherlands_w_Netherlands_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/France_w_France_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Austria_w_Austria_m/food%20sharing.png)

![title](output_aid_giving_sociability_expanded/markov_modelling/bootstrap/Italy_w_Italy_m/food%20sharing.png)